.box {
  box-shadow: 0px 3px 187.5px 7.5px rgba(255, 107, 0, 0.4);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  padding-right: 1rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
